body {
   background-color: #263238; /* Deep blue-gray, evoking a serene, nocturnal mood */
   color: #ECEFF1; /* Off-white for a soft, contrasting text color */
   font-family: Arial, Helvetica, sans-serif;
   margin: 10% 20%;
}

.Experience-Header{
   text-align: center;
   text-transform: uppercase;
   border-top: 4px solid #ECEFF1; /* Off-white border to complement the text */
   border-bottom: 1px solid #ECEFF1;
   background-color: rgba(38, 50, 56, 0.6); /* Slightly lighter blue-gray with transparency for depth */
}
